php_value memory_limit 256M
php_value max_execution_time 300
php_value max_input_vars 3000

RewriteEngine On

# Handle Angular and Vue.js routes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]